<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-list">
            <li><a href="/" class="navbar-block">Движ</a></li>
            <li><a href="/catalog/" class="navbar-block">Услуги</a></li>
            <li style="display: {% if user.is_superuser %} block {% else %} none {% endif%}" >
                <a href="/admin/" class="navbar-block">Админка</a>
            </li>
            <div class="end-block">
                <li>  {% if user.is_authenticated %}
                    <span>Привет, <a href="{% url 'profile' %}">{{ user.username }}!</a></span>
                    <a href="{% url 'logout' %}">Выйти</a>
                    {% else %}
                    <a href="{% url 'login' %}">Войти</a>
                    <a href="{% url 'register' %}">Регистрация</a>
                    {% endif %}
                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </li>
            </div>
        </ul>
    </nav>
<h1>Личный кабинет</h1>
<form method="post">
    {% csrf_token %}
    {% if user.is_authenticated %}
        {% if edit_mode %}
            <div class="form-group">
                <label for="username">Никнейм:</label>
                <br>
                <input type="text" id="username" name="username" value="{{ request.user.username }}">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <br>
                <input class="email-form" type="text" id="email" name="email" value="{{ request.user.email }}" readonly>
            </div>
            <div class="form-group">
                <label for="first_name">Имя:</label>
                <br>
                <input type="text" id="first_name" name="first_name" value="{{ request.user.first_name }}" >
            </div>
            <div class="form-group">
                <label for="last_name">Имя:</label>
                <br>
                <input type="text" id="last_name" name="last_name" value="{{ request.user.last_name }}" >
            </div>
            <div class="buttons">
                <button type="submit">Сохранить изменения</button>
                <a href="?edit=false" class="button">Отменить</a>
            </div>
        {% else %}
            <p><strong>Никнейм:</strong> {{ request.user.username }}</p>
            <p><strong>Email:</strong> {{ request.user.username }}</p>
            <p><strong>Имя:</strong> {{ request.user.username }}</p>
            <p><strong>Фамилия:</strong> {{ request.user.username }}</p>
            <a href="?edit=true" class="button">Редактировать</a>
        {% endif %}
    {% endif %}
</form>
</body>
</html>