{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<h1>Личный кабинет</h1>
<form method="post">
    {% csrf_token %}
    {% if user.is_authenticated %}
        {% if edit_mode %}
            <div class="form-group">
                <label for="username">Никнейм:</label>
                <br>
                <input type="text" id="username" name="username" value="{{ request.user.username }}">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <br>
                <input class="email-form" type="text" id="email" name="email" value="{{ request.user.email }}" readonly>
            </div>
            <div class="form-group">
                <label for="first_name">Имя:</label>
                <br>
                <input type="text" id="first_name" name="first_name" value="{{ request.user.first_name }}" >
            </div>
            <div class="form-group">
                <label for="last_name">Имя:</label>
                <br>
                <input type="text" id="last_name" name="last_name" value="{{ request.user.last_name }}" >
            </div>
            <div class="buttons">
                <button type="submit">Сохранить изменения</button>
                <a href="?edit=false" class="button">Отменить</a>
            </div>
        {% else %}
            <p><strong>Никнейм:</strong> {{ request.user.username }}</p>
            <p><strong>Email:</strong> {{ request.user.email }}</p>
            <p><strong>Имя:</strong> {{ request.user.first_name }}</p>
            <p><strong>Фамилия:</strong> {{ request.user.last_name }}</p>
            <a href="?edit=true" class="button">Редактировать</a>
        {% endif %}
    {% endif %}
</form>
{% endblock %}