{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/houses_list.css' %}">
<div class="pickmenu">
    <div class="radio-group">
        <div class="radio-button" data-value="Недвижимость"><a href="{% url 'houses_list' %}" target="_blank">Недвижимость</a></div>
        <div class="radio-button" data-value="Запросы"><a href="{% url 'queries_list' %}" target="_blank">Запросы</a></div>
    </div>
</div>
<div class="creation_form">
    <a class="creation_form" href="{% url 'creation_query' %}">Создать</a>
</div>
<div class="list_of_houses">
    {% for query in queries %}
        <div class="list_element"> {{ query.id }} {{ query.message }}  <a href="{% url 'query_edit' query.id %}" target="_blank">Перейти к объекту</a> <a class="delete" href="{% url 'removeq_btn' query.id %}">Удалить</a>  </div>
    {% empty %}
        <p>Запросы не найдены</p>
    {% endfor %}
</div>

{% endblock %}