{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'index/css/catalog.css' %}">
    <h1>Список недвижимости</h1>
    <div class="content">
        <form method="get" class="filter" id="filterForm">
            <div class="form_field">Тип: {{ form.property_type }} </div>
            <div class="form_field">Состояние: {{ form.condition }} </div>
            <div class="form_field">Минимальная цена: {{ form.min_price }} </div>
            <div class="form_field">Максимальная цена: {{ form.max_price }} </div>
            <div class="form_field">Минимальные размер: {{ form.min_size }} </div>
            <div class="form_field">Максимальный размер: {{ form.max_size }} </div>
            <div class="form_field">Минимально комнат: {{ form.min_rooms }} </div>
            <div class="form_field">Максимально комнат: {{ form.max_rooms }} </div>
            <button class="filter_button" type="submit">Фильтровать</button>
        </form>
        <div class="house-list">
            {% for property in properties %}
                <div class="house-item">
                    <div class="image-container">
                        {% if property.images.all %}
                            <img src="{{ property.images.first.image.url }}" alt="{{ property.title }}">
                        {% endif %}
                    </div>
                    <div class="house-info">
                        <div>
                            <div class="about-title"><a href="{% url 'detail_view' property.id %}" target="_blank">{{ property.title }}</a></div>
                            <p>Адрес: {{ property.address }}</p>
                        </div>
                    </div>
                    <div class="house-query">
                        <div class="query-price">{{ property.price }} ₽</div>
                    </div>
                </div>
            {% empty %}
                <li>Недвижимость не найдена.</li>
            {% endfor %}
        </div>
    </div>
{% endblock content %}