{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'index/css/detail.css' %}">
    <div class="container">
        <div class="head">
            <div class="head-title">Продажа {{ property.rooms }}-комнатной квартиры, {{ property.size }} M<sup>2</sup></div>
            <div class="slider">
                <div class="slides">
                {% for image in property.images.all %}
                    <div class="slide">
                        <img src="{{ image.image.url }}" alt="{{ image.title }}" style="width: 100%;">
                    </div>
                {% endfor %}
                </div>
            <button class="button prev" onclick="changeSlide(-1)">&#10094;</button>
            <button class="button next" onclick="changeSlide(1)">&#10095;</button>
            </div>
            <div class="head-price">{{ property.price }} ₽</div>
            <div class="price_f_metr">{{ price_f_metr }} ₽/м²</div>
            <div class="address">{{ property.address }}
                <br>
                <a href="{% url 'submit_form' property_id=property.id %}" class="otcklick">Откликнуться</a>
            </div>
        </div>
    </div>

<script>
    let currentSlide = 0;

    function showSlide(index) {
        const slides = document.querySelector('.slides');
        const totalSlides = document.querySelectorAll('.slide').length;

        if (index >= totalSlides) {
            currentSlide = 0;
        } else if (index < 0) {
            currentSlide = totalSlides - 1;
        } else {
            currentSlide = index;
        }

        slides.style.transform = 'translateX(' + (-currentSlide * 100) + '%)';
    }

    function changeSlide(step) {
        showSlide(currentSlide + step);
    }

    showSlide(currentSlide);
        }
</script>

{% endblock %}