{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="image-container">
        <img src="{% static 'index/images/V-stolitse-vyros-spros-na-novostrojki.jpg' %}" alt="Описание">
        <div class="text-overlay">
            <h3>Почему именно мы?</h3>
                <h2>Профессионализм и опыт</h2>
                    <p>Наши агенты самые опытные на рынке с глубокими знаниями рынка</p>
                <h2>Широкий выбор объектов</h2>
                    <p>Регулярное обновление огромного списка предложений</p>
                <h2>Юридическая безопасность</h2>
                    <p>Мы проверяем все нужные документы и минимизируем ваши риски</p>
        </div>
</div>
{% endblock %}