body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}



.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
}

.navbar-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar li {
    margin-right: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: #FFD700;
}

.logout_button {
    color: white;
    text-decoration: none;
    background-color: #333
}

.end-block {
    margin-left: auto;
}

.image-container {
    position: relative;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.text-overlay {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.plus-zag {
    text-align: center;
}